@import "./node_modules/@catppuccin/palette/scss/_macchiato.scss";

.bar {
	background-color: transparent;
	border-radius: 10px;
}

.music {
  background-color: $mantle;
  padding: 12.5px;
  border-radius: 20px;
  font-size: 15px;
}
