snippet stdlib "Import the Standard Library" b
#include <stdlib.h>
endsnippet

snippet string "Import the String Library" b
#include <string.h>
endsnippet

snippet stdio "Import the Standard IO Library" b
#include <stdio.h>
endsnippet

snippet main "Create a main function"
int main(int argc, char *argv[]) {
	${1}
}
endsnippet
