snippet istdlib "Import the Standard Library"
#include <stdlib.h>
endsnippet

snippet istring "Import the String Library"
#include <string.h>
endsnippet

snippet istdio "Import the Standard IO Library"
#include <stdio.h>
endsnippet


snippet main "Create a main function"
int main(int argc, char *argv[]) {
	${1}
}
endsnippet
