snippet impnp "Imports numpy as np"
import numpy as np
endsnippet

snippet imptf "Import tensorflow as tf"
import tensorflow as tf
endsnippet

snippet imppd "Import pandas as pd"
import pandas as pd
endsnippet
