snippet der "Derive Attribute" b
#[derive($1)]
endsnippet

snippet cfg "Configure Attribute" b
#[cfg($1)]
endsnippet

snippet feat "Feature Attribute" b
#[feature($1)]
endsnippet

snippet allow "Allow lint attribute" b
#[allow($1)]
endsnippet

snippet main "Inserts a basic main function"
fn main() {
	$1
}
endsnippet

