configuration {
	modes: [ combi, filebrowser, run];
	font: "FiraCode Nerd Font 10";
	combi-modes: [ window, drun, run ];
	show-icons: true;
	terminal: "kitty";
	run-shell-command: "kitty --hold {cmd}";

	drun {
		display-name: "";
	}

	run {
		display-name: "";
	}

	window {
		display-name: " ";
	}
}


element {
	orientation: horizontal;
	children: [ element-icon, element-text ];
	spacing: 5px;
}

@import "catppuccin-macchiato"
@import "catppuccin"

/* vim:ft=css */
