@import "node_modules/@catppuccin/palette/scss/macchiato";

$radius: 10px;

* {
  font-size: 13px;
}

#waybar {
  background-color: transparent;
}

#workspaces {
  background-color: $base;
  border-radius: $radius;

  button {
    border-radius: $radius;

    &.active {
      background-color: $surface0;
    }

    &:hover {
      background-color: $overlay0;
    }
  }
}

#taskbar {
  background-color: $base;
  border-radius: $radius;
  margin-left: 10px;

  button {
    border-radius: $radius;

    &.active {
      background-color: $surface0;
    }

    &:hover {
      background-color: $overlay0;
    }
  }
}

#clock {
  background-color: $base;
  border-radius: $radius;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-media {
  background-color: $base;
  border-radius: $radius;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: $radius;
}

#submap {
  background-color: $base;
  border-radius: $radius;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#tray {
  background-color: $base;
  border-radius: $radius;
  margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#pulseaudio {
  background-color: $base;
  border-radius: $radius;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#connections {
  background-color: $base;
  border-radius: $radius;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#bluetooth {
  margin-right: 10px;
}

#backlight {
  background-color: $base;
  border-radius: $radius;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#battery {
  background-color: $base;
  border-radius: $radius;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#temperature {
	background-color: $base;
	border-radius: $radius;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
