@import "node_modules/@catppuccin/palette/scss/mocha";

$background: $crust;

$radius: 10px;

* {
	font-size: 13px;
	color: $text;
}

#waybar {
	background-color: transparentize($color: $background, $amount: 0.1);
}

#workspaces {
	button {
		&.active {
			background-color: $surface0;
		}

		&:hover {
			background-color: $surface0;
		}
	}
}

#taskbar {
	button {
		&.active {
			background-color: $surface0;
		}

		&:hover {
			background-color: $surface0;
		}
	}
}

#clock {
	border-radius: $radius;
	padding-left: 10px;
	padding-right: 10px;
}

#custom-media {
	border-radius: $radius;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: $radius;
}

#submap {
	border-radius: $radius;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#tray {
	border-radius: $radius;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#pulseaudio {
	border-radius: $radius;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#connections {
	border-radius: $radius;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#bluetooth {
	padding-left: 10px;
	padding-right: 10px;
}

#backlight {
	border-radius: $radius;
	padding-left: 10px;
	padding-right: 10px;
}

#cpu {
	border-radius: $radius;
	padding-left: 10px;
	padding-right: 10px;
}

#battery {
	border-radius: $radius;
	padding-left: 10px;
	padding-right: 10px;
}

#temperature {
	border-radius: $radius;
	padding-left: 10px;
	padding-right: 10px;
}
